.grid-container{

  margin: 0 auto;
  width: $grid-maxwidth;
  max-width: 100%;
  position: relative;

  &:after{
    content: ' ';
    display: table;
    clear: both;
  }

  .grid-item{
    float: left;

    &:after{
      content: ' ';
      display: table;
      clear: both;
    }

  }

}
