// Breakpoints
$breakpoint-small : 340px;
$breakpoint-newsfeed : 640px;
$breakpoint-medium : 768px;
$breakpoint-large : 960px;

// Grid
$grid-maxwidth : 960px;
$grid-half : percentage( ($grid-maxwidth / 2) / $grid-maxwidth );
$grid-third : percentage( ($grid-maxwidth / 3) / $grid-maxwidth );
$grid-quarter : percentage( ($grid-maxwidth / 4) / $grid-maxwidth );
$grid-twothirds : percentage( ($grid-maxwidth / 3) * 2 / $grid-maxwidth );
$grid-threequarters : percentage( ($grid-maxwidth/4) * 3 / $grid-maxwidth );

// Colours
$primary-background: #FAFAFA;
$heading-color: rgba(0,0,0,.75);
$primary-accent-color: #0084FF;

// UI
$ui-element-bg: #FFFFFF;
$ui-action-color : #0084FF;
$ui-action-color-hover : #66A9FF;

$ui-text-color : rgba(0,0,0,.7);
$ui-text-lighter-color : rgba(0,0,0,.5);
$ui-text-dark-bg : rgba(255,255,255,.7);

$ui-border-color: rgba(0,0,0,.07);
$ui-border-shadow-color: rgba(0,0,0,.12);
$ui-border-radius: 2px;

$ui-border-radius-high : .66em;

// UI :: Spacing
$ui-padding-primary: 1em;

// UI :: Font stacks
$ui-primary-font: 'Roboto', sans-serif;
